.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: #fff;
}

.container .img-box {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
}

.container img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 0.9;
    transition: 0.6s;
    background: #333;
}

.img-box:hover .overlay {
    height: 100%;
}

.label {
    position: absolute;
    left: 10%;
    top: 0;
    width: 30%;
    height: 12%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    opacity: 0;
    z-index: 1;
    transition: 0.2s ease-in-out;
    color: #fff;
    background-color: dodgerblue;
}

p.label-content {
    margin-top: 5px;
}

.img-box:hover .label {
    opacity: 1;
}

h4 {
    position: absolute;
    left:50%;
    top: 10%;
    opacity: 0;
    font-size: 22px;
    font-weight: 600;
    z-index: 1;
    transition: 0.6s;
    transform: translateX(-50%) translateY(-10%);
    color: #fff;
}

.img-box:hover h4 {
    opacity: 1;
}